<div>
    <style>
    .parallax-container{
        z-index:1
    }
    </style>
    <div class="parallax-container hide-on-small-only">
    <div class="parallax">
        <img src="http://i.imgsafe.org/d347ea6911.jpg">
    </div>
  </div>
  <div class="section white">
    <div class="row container">
      <h1 id="title" class="header center-align">Bella Lingua</h2>
      <h4 class="center-align">UÄite strane jezike sa nama</h4>
      <div class="col s12 center-align">
          <a class=" btn waves-effect waves-light" href="/languages">Izaberi jezik</a>
      </div>
    </div>
  </div>
</div>
<script>
$(document).ready(function(){
      $('.parallax').parallax();
});
</script>
